---
import Home from "@components/home.astro";
import Navbar from "@components/navbar.astro";
import { getDirectusContentData } from "@lib/directus";
import "../styles/global.css";
import Contact from "./contact.astro";
import Experience from "./experience.astro";
import Projects from "./projects.astro";
import Skills from "./skills.astro";

interface Props {
  locale: string;
}
const { locale } = Astro.props;

const content = await getDirectusContentData(locale);

if (!content.translations)
  throw new Error(`Failed to get translation for locale ${locale}`);

const name =
  typeof content.translations[0] === "string"
    ? content.translations[0]
    : content.translations[0].name;
---

<html lang="en" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script
      defer
      src="http://portfolio-umami-379b13-46-62-225-140.traefik.me/script.js"
      data-website-id="9b4a6778-219a-4602-96c1-592b04f52ce4"></script>
    <title>{name}</title>
  </head>
  <body class="bg-background relative isolate text-white">
    <main class="mx-auto max-w-480 px-5 md:px-20">
      <Navbar data={content.translations[0]} locale={locale} />
      <Home data={content.translations[0]} />
      <Skills data={content.translations[0]} locale={locale} />
      <Experience data={content.translations[0]} locale={locale} />
      <Projects data={content.translations[0]} locale={locale} />
      <Contact data={content} translation={content.translations[0]} />
    </main>
    <img
      class="absolute top-0 left-0 -z-10 min-h-svh min-w-svw opacity-30"
      src="/hero-background.svg"
      alt="Hero Background"
    />
    <script src="../scripts/index.ts"></script>
  </body>
</html>
