---
import type { DirectusContentData } from "@lib/directus";
import { ensureObject } from "@lib/utils";
import PillButton from "./pill-button.astro";

interface Props {
  data: DirectusContentData;
  translation: NonNullable<DirectusContentData["translations"]>[number];
}

const translation = ensureObject(Astro.props.translation);
const data = Astro.props.data;
---

<section
  id="contacts"
  class="my-24 mt-44 flex scroll-m-20 flex-col gap-24 overflow-visible px-2 md:mt-96"
>
  <h2 class="font-space text-4xl font-bold md:text-6xl">
    {translation.contact_header}
  </h2>
  <div
    class="flex w-full flex-col gap-6 md:flex-row md:justify-between md:gap-0"
  >
    <div class="flex flex-col gap-4 md:w-1/2">
      <a href={`mailto:${data.email}`}>
        <div class="flex w-fit items-center gap-2 border-b pb-2">
          <span>
            {data.email}
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="16px"
            viewBox="0 -960 960 960"
            width="16px"
            fill="#ffffff"
          >
            <path d="m243-240-51-51 405-405H240v-72h480v480h-72v-357L243-240Z">
            </path>
          </svg>
        </div>
      </a>
      <div class="flex gap-2">
        <a
          class="bg-primary/10 flex h-14 w-14 items-center justify-center rounded-full"
          target="_blank"
          href={data.linked_in_link}
        >
          <svg viewBox="0 0 128 128" width="24px" height="24px">
            <path
              fill="var(--color-primary)"
              d="M21.06 48.73h18.11V107H21.06zm9.06-29a10.5 10.5 0 11-10.5 10.49 10.5 10.5 0 0110.5-10.49M50.53 48.73h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75v32H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53z"
            >
            </path>
          </svg>
        </a>
        <a
          class="bg-primary/10 flex h-14 w-14 items-center justify-center rounded-full"
          target="_blank"
          href={data.github_link}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            viewBox="0 0 24 26"
            fill="none"
          >
            <path
              d="M7.11431 25.5996C8.02471 25.5996 8.27303 25.2406 8.27303 24.7984C8.27303 24.4025 8.25895 23.3542 8.25191 21.9651C3.53479 22.9699 2.53991 19.7296 2.53991 19.7296C1.76839 17.8064 0.653191 17.2918 0.653191 17.2918C-0.882809 16.2588 0.771911 16.28 0.771911 16.28C2.47495 16.3958 3.36935 17.9971 3.36935 17.9971C4.88135 20.5449 7.33895 19.8089 8.30855 19.3833C8.46119 18.3049 8.89799 17.5715 9.38247 17.1548C5.61639 16.7379 1.65799 15.3049 1.65799 8.92029C1.65799 7.10141 2.31527 5.61501 3.40327 4.44893C3.21255 4.02781 2.64007 2.33341 3.55175 0.0383667C3.55175 0.0383667 4.97191 -0.408353 8.21511 1.74685C9.57191 1.37661 11.0132 1.19293 12.4548 1.18429C13.8964 1.19261 15.3377 1.37661 16.6945 1.74685C19.9165 -0.408353 21.3367 0.0383667 21.3367 0.0383667C22.2481 2.33341 21.6759 4.02781 21.5063 4.44893C22.5873 5.61469 23.2446 7.10141 23.2446 8.92029C23.2446 15.3219 19.2807 16.7308 15.5073 17.1408C16.1009 17.6409 16.6519 18.6627 16.6519 20.2243C16.6519 22.4544 16.6308 24.2464 16.6308 24.7875C16.6308 25.2243 16.8196 25.5788 17.7966 25.5788L7.11431 25.5996Z"
              fill="var(--color-primary)"
            >
            </path>
          </svg>
        </a>
        <a
          class="bg-primary/10 flex h-14 w-14 items-center justify-center rounded-full"
          target="_blank"
          href={data.discord_link}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="24px"
            height="24px"
            viewBox="0 -28.5 256 256"
            version="1.1"
            preserveAspectRatio="xMidYMid"
          >
            <g>
              <path
                d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z"
                fill="var(--color-primary)"
                fill-rule="nonzero"
              >
              </path>
            </g>
          </svg>
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:w-1/3">
      <p class="text-muted">{translation.footer_message}</p>
      <PillButton class="w-fit">
        {translation.download_cv_button_text}
      </PillButton>
    </div>
  </div>
</section>
