---
import { type DirectusContentData, getDirectusLanguages } from "@lib/directus";
import { ensureObject } from "@lib/utils";
import LanguageDropdown from "./language-dropdown";

interface Props {
  locale: string;
  data: NonNullable<DirectusContentData["translations"]>[number];
}

const data = ensureObject(Astro.props.data);
const languages = await getDirectusLanguages();
---

<nav class="bg-background fixed top-0 left-0 z-50 w-full py-6">
  <div class="relative">
    <ul
      class="mx-auto flex w-fit items-center justify-center gap-4 text-xs md:gap-10 md:text-base"
    >
      <li id="nav-link-home">
        <a href="#home">
          {data.navbar_home_text}
        </a>
      </li>
      <li id="nav-link-skills">
        <a href="#skills">
          {data.navbar_skills_text}
        </a>
      </li>
      <li id="nav-link-experience">
        <a href="#experience">
          {data.navbar_experience_text}
        </a>
      </li>
      <li id="nav-link-projects">
        <a href="#projects">
          {data.navbar_projects_text}
        </a>
      </li>
      <li id="nav-link-contacts">
        <a href="#contacts">
          {data.navbar_contacts_text}
        </a>
      </li>
    </ul>
    <LanguageDropdown
      languages={languages}
      currentLocale={Astro.props.locale}
      client:load
    />
  </div>
</nav>
